@import "_reset";

$Very_dark_blue_main_background: hsl(233, 47%, 7%);
$Dark_desaturated_blue_card_background: hsl(244, 38%, 16%);
$Soft_violet_accent: hsl(277, 64%, 61%);
$White_main_heading_stats: hsl(0, 0%, 100%);
$Slightly_transparent_white_main_paragraph: hsla(0, 0%, 100%, 0.75);
$Slightly_transparent_white_stat_headings: hsla(0, 0%, 100%, 0.6);

html {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

body {
    background-color: $Very_dark_blue_main_background;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.5rem 1rem;
}

.card {
    background-color: $Dark_desaturated_blue_card_background;
    border-radius: 5px;
    overflow: hidden;
    max-width: 20rem;
    display: grid;
    .image-container {
        background-color: $Soft_violet_accent;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.7;
            mix-blend-mode:multiply;
            object-position: top center;
        }
    }
    .stats-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 1rem;
        .title {
            font-size: 1.8rem;
            color: $White_main_heading_stats;
            margin: 1rem 0;
            line-height: 1.2;
        }
        .title_emphasis {
            color: $Soft_violet_accent;
        }
        .text {
            color: $Slightly_transparent_white_main_paragraph;
            font-weight: 400;
            line-height: 2;
        }
        .list {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
        }
        .stats {
            margin: 1rem;
        }
        .number_bold {
            font-size: 1.5rem;
            color: $White_main_heading_stats;
            display: block;
        }
        .list_item_emphasis {
            font-family: 'Lexend Deca', sans-serif;
            font-size: 0.9rem;
            text-transform: uppercase;
            color: $Slightly_transparent_white_main_paragraph;
            letter-spacing: 1px;
            opacity: 0.6;
            font-style: normal;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: $Slightly_transparent_white_main_paragraph;
    .attribution-link {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (min-width: 62.5rem) { //1000px
    html {
        text-align: left;
    }
    .card {
        max-width: 70rem;
        grid-template-columns: 1fr 1fr;
        .stats-preview {
            grid-row: 1;
            align-items: baseline; 
        }
    }
    .title {
        padding: 0 1rem 0 4rem;
        font-size: 2rem !important;
    }
    .text {
        padding: 0 1rem 0 4rem;
    }
    .list {
        flex-direction: row !important;
        padding: 1rem 3rem !important;
    }
    .stats {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        padding: 2rem 0 0;
    }
    .number_bold {
        display: none;
    }
}